dn: cn=config
objectClass: olcGlobal
cn: config
olcArgsFile: {{ path_to_openldap_run_directory }}/slapd.args
olcLogLevel: none
olcPidFile: {{ path_to_openldap_run_directory }}/slapd.pid
olcToolThreads: 1
structuralObjectClass: olcGlobal
