dn: cn=config
changetype: modify
add: olcTLSCertificateFile
olcTLSCertificateFile: {{ path_to_TLS_certificate }}
-
add: olcTLSCertificateKeyFile
olcTLSCertificateKeyFile: {{ path_to_TLS_key }}
-
add: olcTLSCACertificateFile
olcTLSCACertificateFile: {{ path_to_TLS_ca_certificate }}
