dn: {{ default_base_dn }}
objectClass: domain
objectClass: dcObject
dc: training

dn: cn={{ default_root_dn }},{{ default_base_dn }}
objectClass: simpleSecurityObject
objectClass: organizationalRole
cn: {{ default_root_dn }}
description: {{ default_root_dn_description }}
userPassword:: {{ password_hash_base64_rootdn }}
structuralObjectClass: organizationalRole
