dn: olcDatabase={-1}frontend
objectClass: olcDatabaseConfig
objectClass: olcFrontendConfig
olcDatabase: {-1}frontend
{% if add_frontend_acls | bool %}
olcAccess: {0}to * by dn.exact=gidNumber=0+uidNumber=0,cn=peercred,cn=extern
 al,cn=auth manage by * break
olcAccess: {1}to dn.exact="" by * read
olcAccess: {2}to dn.base="cn=Subschema" by * read
olcAccess: {3}to attrs=userPassword by self write by anonymous auth by * none
olcAccess: {4}to attrs=shadowLastChange by self write by * read
olcAccess: {5}to * by * read
{% endif %}
olcSizeLimit: 500
structuralObjectClass: olcDatabaseConfig
