dn: olcDatabase={0}config,cn=config
changetype: modify
add: olcRootPW
olcRootPW: {{ password_hash_rootdn }}
{% if ansible_os_family == "RedHat" %}

dn: olcDatabase={0}config,cn=config
changetype: modify
add: olcRootDN
olcRootDN: cn=admin,cn=config
{% endif %}
